body {
    text-align: center;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gray;
}

.photo {
    width: 30%;
    height: 80%;
}

.tag {
    color: white;
    background-color: #000000;
    opacity: 0.7;
    border-radius: 10%;
    margin: 0 10px;
}

.box {
    display: inline-block;
    margin-top: 60px;
    text-align: center;
}

.box>h2 {
    margin-top: 10px;
}

.box>p {
    text-align: center;
}

.skill {
    background-color: #000000;
    padding: 2.5% 10%;
    color: white;
    opacity: 0.8;
    text-align: left;
}

.skill h1 {
    /* display: inline-block; */
    text-align: center;
}

.skill img {
    margin: 0 5%;
    width: 100%;
}

.skill p {
    margin-left: 5%;
    margin-bottom: 0;
}

.skill a {
    display: block;
    text-align: right;
}

.col-wrap {
    margin: 2.5% auto;
}

.frame {
    width: 80%;
    height: 70%;
    margin: 30px auto 30px;
}

.item {
    margin: 0 15px;
    padding: auto;
    display: inline-block;
    box-sizing: content-box;
    overflow: hidden;

}

.cover {
    width: 250px;
    height: 150px;
    background-color: #000000;
    position: absolute;
    opacity: 0;
    transition: 0.1s 0s linear;
    color: azure;
}

.cover h5 {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.item:hover .cover {
    opacity: 0.5;
}

.item a img {
    width: 250px;
    height: 150px;
}

.h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.work {
    width: 100%;
    background-color: black;
}

.work h1 {
    display: inline-block;
    margin-top: 10px;
    color: white;
}


.container {
    padding: 10px;
}

.bot {
    background-color: #000000;
    opacity: 0.7;
    width: 60%;
    height: 20%;
    margin: 0 auto;
}